<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :titulo, 'Nome do Host' %>
      <%= f.text_field :titulo, class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= f.label :links %><br>
    <%= f.text_field :links, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :imagem_padrao, 'Imagem padrão' %><br>
    <%= f.text_area :imagem_padrao, class: 'form-control' %>
  </div>

    <div class="form-horizontal">
      <%= f.label :ativo %>
      <%= f.check_box :ativo %>
    </div>

  <div class="actions">
    <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
  </div>
<% end %>
