<%= render 'layouts/navbar' %>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @host.titulo %>
  </p>

  <p>
    <strong>Links:</strong>
    <%= @host.links %>
  </p>

  <p><strong>Ativo:</strong>
  <% if @host.ativo %>
        ✅ <!-- É um emoji de ok -->
  <% else %>
        ❌ <!-- É um emoji de negativo -->
  <% end %>
  </p>
  <p>
    <strong>Imagem padrão:</strong>
    <img src="<%= @host.imagem_padrao %>" class="img-exibicao">
  </p>


  <div class="actions">
  <%= link_to 'Salvar', edit_host_path(@host), class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', hosts_path, class: 'btn btn-danger' %>
  </div>
</div>