<body ng-controller="ControllerPublicacoes">
<script>
  var Publicacoes = <%= @publicacoes.to_json(include: [:links, :imagens]) %>
</script>
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 >Publicações Recentes</h1>
      <div class="row placeholders">

        <% if @publicacoes == [] %>
            <h3>Nenhuma publicação no Banco de Dados ainda!</h3>
        <% else %>
            <% @publicacoes.each do |publicacao| %>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="<%= publicacao.imagens[0].imagem %>" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                  <h4><%= publicacao.titulo %></h4>
                  <span class="text-muted"><%= publicacao.descricao %>></span>
                </div>

            <% end %>
        <% end %>
      </div>

      <br>

      <h2>Status das Categorias</h2>
      <% if @categorias == [] %>
          <h3>Nenhuma categoria cadastrada ainda!</h3>
      <% else %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Categoria</th>
                <th>Novas</th>
                <th>Ignoradas</th>
              </tr>
              </thead>
              <tbody>
              <% @categorias.each do |categoria| %>
                  <tr>
                    <td><%= categoria.nome %></td>
                    <td><%= categoria.publicacaos.where('situacao = 0').length %></td>
                    <td><%= categoria.publicacaos.where('situacao = 2').length %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
  </div>
</div>

</body>

