<%= render "layouts/navbar" %>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Categorias</h1>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativo</th>
      <th>Url</th>
      <th>Caminho para salvar</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @categorias.each do |categoria| %>
        <tr>
          <td><%= categoria.nome %></td>
          <td><%= categoria.descricao %></td>
          <td>
            <% if categoria.ativo %>
                ✅ <!-- É um emoji de ok -->
            <% else %>
                ❌ <!-- É um emoji de negativo -->
            <% end %>
          </td>
          <td><%= categoria.url %></td>
          <td><%= categoria.path %></td>
          <td><%= link_to 'Exibir', categoria %></td>
          <td><%= link_to 'Editar', edit_categoria_path(categoria) %></td>
          <td><%= link_to 'Excluir', categoria, method: :delete, data: {confirm: 'Você tem certeza?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <div style="text-align: center">
    <%= link_to 'Cadastrar Categoria', new_categoria_path, class: 'btn btn-primary' %>
  </div>
</div>