<div class="container-fluid">

  <%= render 'layouts/navbar' %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @categoria.nome %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @categoria.descricao %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <% if @categoria.ativo %>
      ✅ <!-- É um emoji de ok -->
    <% else %>
        ❌ <!-- É um emoji de negativo -->
    <% end %>
  </p>

  <p>
    <strong>Link do fórum:</strong>
    <%= @categoria.url %>
  </p>

  <p>
    <strong>Caminho para salvar:</strong>
    <%= @categoria.path %>
  </p>


  <div class="actions">
    <%= link_to 'Editar', edit_categoria_path(@categoria) , {class: 'btn btn-primary'}%>
    <%= link_to 'Voltar', categorias_path, {class: 'btn btn-danger'} %>
  </div>
</div>